
  

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
    
  );
  font-family: 'Roboto', sans-serif;

}
.lightGrey{
  color: #b1b1b1;
}

.wrapper{
  height: calc(100vh - 50px);
  width: 1200px;
  display: flex;
  min-width: 900px;

}


.leftSide{
  height: calc(100vh - 50px);
  width: 40%;
  background-color: white;
}
.rightSide{
  height: 100%;
  width: 60%;
  background-color: #f1f3eb;
}
.leftHeader{
  height: 60px;
  width: 100%;
  border-right: 1px solid rgb(177, 173, 173);
  background-color: #eaeaea;
}

.imgUser{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
 
}
.notifications{
  height: 70px;
  width: 100%;
  background-color: #8edafc;
}
.initChat{
  height: 50px;
  width: 100%;
  background-color: #f9f9f9;
}
#inputGroup-sizing-default,
#inputGroupInit
{
  background-color: white;
  border-radius: 0;
  height: 40px;
  color: #b1b1b1;
}
.contacts{
  height: calc(100vh - 240px);
  width: 100%;
  overflow-y: auto;

}
.user{
  height: 60px;
}
.rightHeader{
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
}

.infoRightHeader{
  width: 60px;
}
.bodyRight{
  height: calc(100% - 120px);
  width: 100%;
  background-image: url(../img/mine.jpg);
  overflow: auto;
  padding: 20px 40px 0 40px;
  
}
.writeMessage{
  height:60px;
  width: 100%;
  background-color: #f3eeea;
}
.boxMsg{
  width: 45%;
  border-radius: 10px;
  padding: 15px;

}
.sent{
  background-color:  rgb(182, 217, 129);
  align-self: flex-end;
  
}

.received{
  
  background-color: white;

}