<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/1e3be9b4ce.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <title>whatsapp</title>

</head>

<body>

  <div id="app">

    <div class="wrapper ">
      <div class="leftSide">
        <div class="leftHeader container d-flex justify-content-between ">
          <div class="user d-flex align-items-center ">
            <div class="imgUser">
              <img class="img-fluid" src="./img/avatar_1.png" alt="">
            </div>
            <h6 class="ps-2 pt-2 ">Michele</h6>
          </div>
          <div class="utilityLeft d-flex align-items-center ">
            <a href="#"><img class="px-2" src="./img/status-icon.svg" alt=""></a>
            <a href="#"><img class="px-2" src="./img/message-icon.svg" alt=""></a>
            <a href="#"><img src="./img/menu-icon.svg" alt=""></a>
          </div>
        </div>
        <div class="bodyLeft">
          <div class="notifications container d-flex align-items-center">
            <div class="bell">
              <div class="imgUser">
                <img class="img-fluid" src="./img/bell-ban.svg" alt="">
              </div>
            </div>
            <div class="textNotifications d-flex flex-column ps-2 ">
              <span>Ricevi notifiche di nuovi messaggi</span>
              <a class="text-black-50 small" href="#"><span>Attiva notifiche desktop</span></a>
            </div>
          </div>
          <div class="initChat ">
            <div class="input-group mb-3 p-1">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" id="inputGroupInit" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>
          <div class="contacts container">
            <div v-for="(contact, id) in contacts" :key="contact.id"
            @click="currentUser(id)"
            :class="{'active': contact.id -1  === activeId}" 
            class="totalUser d-flex justify-content-between">
              <div class="user d-flex align-items-start pt-2">
                <div class="imgUser">
                  <img class="img-fluid" :src="contact.avatar" :alt="contact.name">
                </div>
                <div class="infoUser d-flex flex-column ps-3">
                  <h6 class=" ">{{contact.name}}</h6>
                  <sub class="lightGrey">{{contact.messages[contact.messages.length -1].message}}</sub>
                </div>
              </div>
              <div class="timeSent small lightGrey">
                12:00
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rightSide">
        <div class="rightHeader container">
          <div class="d-flex justify-content-between">
            <div class="user d-flex align-items-center">
              <div class="imgUser">
                <img class="img-fluid" :src="contacts[activeId].avatar" alt="">
              </div>
              <div class="infoUser d-flex flex-column ps-3">
                <h6 class=" ">{{contacts[activeId].name}}</h6>
                <sub class="lightGrey">Ultimo accesso oggi alle 12:00</sub>
              </div>
            </div>
            <div class="infoRightHeader lightGrey d-flex align-items-center justify-content-between">
              
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
              
            </div>
          </div>
        </div>
        <div class="bodyRight container">
          <div class="chatUser">
            <div class="d-flex flex-column">
              <p class="boxMsg d-flex flex-column" v-for="(msg, id) in contacts[activeId].messages" :class="msg.status">{{msg.message}}

                <sub class="align-self-end lightGrey">12:00</sub>
              </p>
            </div>

          </div>
        </div>
        <div class="writeMessage container d-flex align-items-center">
          <i class="px-4 fa-regular fa-face-smile"></i>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Scrivi un messaggio">
          <i class="px-4 fa-solid fa-microphone"></i>
        </div>

      </div>

    </div>


  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script src="./js/script.js"></script>
  <script src="./js/data.js"></script>
</body>

</html>